.row.landing_top
  .span6
    %h2 9 - 16 июля в Русском береге
    %h3 Выездной обучающий семинар для молодёжи, которая хочет работать в сфере ИТ, в частности, заниматься разработкой программных продуктов. Участники в течение нескольких дней будут работать над продуктом.
    - if member_signed_in?
      %a.btn.btn-success.btn-large{:href => page_path(program_page) }
        %i.icon-chevron-right
        = program_page
      %a.btn.btn-primary.btn-large{:href => edit_account_path }
        %i.icon-chevron-right
        Профиль
    - else
      - if can_registred?
        %a.btn.btn-success.btn-large{:href => new_member_path}
          %i.icon-chevron-right
          Регистрация *
      %a.btn.btn-primary.btn-large{:href => new_session_path}
        %i.icon-chevron-right
        Вход
      - if can_registred?
        %p * #{link_to 'Тестовые задания', '/news/testTask'} перестанут принимать 3 июля в 13:00.
  .span6
    = image_tag 'splash.png', :width => '430px'

.center.splitter
  = image_tag 'grey_out.png'
.row
  .span12
    .row.landing_lower
      .span9
        - if @news.any?
          %h3 Новости
          - @news.each do |n|
            .well
              %a.b-news{:href => news_path(n)}
                %h4= n.name
              - if n.published_at?
                .help-block= l n.published_at, :format => :news
              != truncate_sanitize_rem_br n.body, 250
          .news_link= link_to "Все новости", news_index_path
      .span3
        :javascript
          new TWTR.Widget({
            version: 2,
            type: 'search',
            search: 'deadlinecamp',
            interval: 30000,
            subject: 'Новости из Twitter',
            //width: 370,
            height: 450,
            theme: {
              shell: {
                background: '#ffffff',
                color: '#333333'
              },
              tweets: {
                background: '#f5f5f5',
                color: '#555555',
                links: '#0088cc'
              }
            },
            features: {
              scrollbar: true,
              loop: true,
              live: true,
              behavior: 'default'
            }
          }).render().start();

- if @photo_album.model && @photo_album.photos.any?
  .center.splitter
    = image_tag 'grey_out.png'
  .row
    .span12
      %h4= @photo_album.name
      %p= @photo_album.description
      %ul.thumbnails
        - @photo_album.sorted_photos_with_limit( configus.photos.main_galary_limit ).each do |photo|
          %li.span4= image_tag photo.image_url(:galary)
      %p= link_to "Все фотоальбомы", photo_albums_path
  -#.row
    .span6.offset3
      %h4= @photo_album.name
      %p= @photo_album.description
      #carousel.carousel.slide
        .carousel-inner
          - @photo_album.sorted_photos.each_with_index do |photo, i|
            .item{:class => i == 0 ? "active" : ''}
              = image_tag photo.image_url(:main_carousel)
              - if photo.name? || photo.description?
                .carousel-caption
                  %h4= photo.name
                  %p= photo.description
        %a.carousel-control.left{"data-slide" => "prev", :href => "#carousel"} ‹
        %a.carousel-control.right{"data-slide" => "next", :href => "#carousel"} ›

.center.splitter
  = image_tag 'grey_out.png'
.row
  .span12
    .row.landing_lower
      .span4
        %h4 Кто наша аудитория?
        %p Студенты и школьники, желающие работать в сфере ИТ и бегло программирующие хотя бы на одном языке программирования.
      .span4
        %h4 Как мы собираемся это делать?
        %p Определим тестовое задание. Разместим его на сайте. Проведём отбор по его выполнению.
        %p Пригласим на семинар специалистов.
        %p Все дни на семинаре участники с утра до вечера будут заниматься разработкой проектов.
      .span4
        %h4 Какие проекты будут разрабатываться участниками?
        %p Микро-проекты от ведущих ИТ-компаний Ульяновска.

    .row.landing_lower
      .span4
        %h4 Зачем это нужно?
        %ul
          %li Создание площадки для самореализации будущих специалистов
          %li Обмен опытом между участниками и действующими специалистами ведущих компании по разработке программного обеспечения г.Ульяновска
          %li Создание «движухи» для молодых программистов Ульяновской области Мероприятие реализуется на общественных началах. В планах сделать Смену Deadline ежегодным мероприятием.
      .span4
        %h4 За чей счёт?
        %p Для участников мероприятие будет бесплатным.
        %p Проживание, питание, доставка участников до места назначения и обратно будут организованы Департаментом молодёжной политики и Молодёжным инициативным центром.
        %p Каждый участник должен иметь при себе личный ноутбук и желание плодотворно поработать.
      .span4
        %h4 Что с собой взять?
        %p Каждый участник должен иметь при себе личный ноутбук, желание плодотворно поработать, копию паспорта (свидетельства о рождении), оригинал медицинского полиса.
        %p Все участники обучающей смены должны также сделать прививку от клещевого энцефалита. Если сделать её не успели или не смогли, то необходимо предоставить МИЦ заявление от родителей (для несовершеннолетних) или от себя (для людей старше 18 лет) о том, что ответственность за жизнь и здоровье в связи с клещевым энцефалитом с организаторов снимается.


.center.splitter
  = image_tag 'grey_out.png'
.row.landing_bottom
  .span12
    %h4 Организаторы
    .span2
      %a{:href => 'http://www.ulmic.ru/'}
        = image_tag 'picture_mic.png', :class => "logo_sponsor"
    .span2
      %p
        Некоммерческое
        %br
        Партнерство
        %br
        Содействия
        %br
        Развитию ИТ
    .span2
      %a{:href => "http://ulgov.ru/"}
        = image_tag '3_logo_ul_gov.png', :class => "logo_sponsor"
    .span2
      = image_tag '4_logo_department.png', :class => "logo_sponsor"
    .span2
      %a{:href => "http://itc73.ru/"}
        = image_tag '5_logo_itc.png'
.row.landing_bottom
  .span12
    .span2
      %a{:href => "http://kaize.ru/"}
        = image_tag '6_logo_kaize.png'
    .span2
      %a{:href => "http://www.simtech.ru/"}
        = image_tag '7_logo_simtech.png'
    .span2
      %a{:href => "http://m-st.ru/"}
        = image_tag '8_logo_mst.png'
    .span2
      %a{:href => "http://simbirsoft.com/"}
        = image_tag '9_logo_simbirsoft.png'
    .span2
      %a{:href => "http://itmcompany.ru/"}
        = image_tag '10_logo_itm.png'
.row.landing_bottom
  .span12
    .span2
      %a{:href => "http://interra-group.ru/"}
        = image_tag 'logo_interra.png'
