.row.landing_top
  .span6
    %h2 9 - 16 июля в Русском береге
    %h3 Выездной обучающий семинар для молодёжи, которая хочет работать в сфере ИТ, в частности, заниматься разработкой программных продуктов. Участники в течение нескольких дней будут работать над продуктом.
    - if member_signed_in?
      %a.btn.btn-success.btn-large{:href => page_path(program_page) }
        %i.icon-chevron-right
        = program_page
      %a.btn.btn-success.btn-large{:href => page_path(place_page) }
        %i.icon-chevron-right
        = place_page
    - else
      %a.btn.btn-success.btn-large{:href => new_member_path}
        %i.icon-chevron-right
        Регистрация
      %a.btn.btn-primary.btn-large{:href => new_session_path}
        %i.icon-chevron-right
        Вход
  .span6
    .thumbnail
      = image_tag 'deadline_clock.jpg'

.center.splitter
  = image_tag 'grey_out.png'

.row.landing_lower
  .span4
    %h4 Кто наша аудитория?
    .thumbnail.p
      = image_tag 'people_block.png'
    %p Студенты и школьники, желающие работать в сфере ИТ и бегло программирующие хотя бы на одном языке программирования.
  .span4 
    %h4 Как мы собираемся это делать?
    %p Определим тестовое задание. Разместим его на сайте. Проведём отбор по его выполнению.
    %p Пригласим на семинар специалистов.
    %p Все дни на семинаре участники с утра до вечера будут заниматься разработкой проектов.
  .span4
    %h4 Какие проекты будут разрабатываться участниками?
    .thumbnail.p
      = image_tag 'langs_block.png'
    %p Микро-проекты от ведущих ИТ-компаний Ульяновска.

.center.splitter
  = image_tag 'grey_out.png'

.row.landing_lower
  .span6
    %h4 За чей счёт?
    %p Для участников мероприятие будет бесплатным.
    %p Проживание, питание, доставка участников до места назначения и обратно будут организованы МИЦ за счёт Министерства образования.
    %p Каждый участник должен иметь при себе личный ноутбук и желание плодотворно поработать.
  .span6
    %h4 Зачем это нужно?
    %ul
      %li Создание площадки для самореализации будущих специалистам
      %li Обмен опытом между участниками и действующими специалистами ведущих компании по разработке программного обеспечения г.Ульяновска
      %li Создание «движухи» для молодых программистов Ульяновской области Мероприятие реализуется на общественных началах. В планах сделать Смену Deadline ежегодным мероприятием.

.center.splitter
  = image_tag 'grey_out.png'

.row.landing_bottom
  .span10
    %h4 Организаторы
    %p МИЦ
    %p Некоммерческое партнерство

