.control-group.nested-fields
  -#.close.mr280
    = link_to_remove_association 'x', f, :class => 'btn btn-danger disabled'
  = f.association :dict, :label => false
  = f.input :level, :collection => level_collection
  = f.input :duration
  = f.input :description, :as => :text_desc
