= link_to t(".download_xls"), api_members_path(:format => 'xls'), :target => '_blank'
\|
= link_to t(".download_short_xls"), api_members_path(:format => 'xls', :options => {:columns => [:id, :email, :first_name, :last_name, :phone]}), :target => '_blank'
%table.table.table-striped
  %thead
    %tr
      %th= sort_link @search, :id
      %th= sort_link @search, :email
      %th= sort_link @search, :state
      %th= sort_link @search, :first_name
      %th= sort_link @search, :last_name
      %th= sort_link @search, :patronymic
      %th= sort_link @search, :birthday
      %th= sort_link @search, :city
      %th= t '.preference'
      %th= sort_link @search, :created_at
      %th
  %tbody
    - @members.each do |m|
      %tr
        %td= m.id
        %td= m.email
        %td= member_state_t m.state
        %td= m.first_name
        %td= m.last_name
        %td= m.patronymic
        %td= m.birthday
        %td= m.city
        %td
          - if m.preferences.any?
            %ul
              - m.preferences.each do |mp|
                %li= mp

        %td= l m.created_at, :format => :short
        %td
          %span
            %a{:href => edit_admin_member_path(m), :title => t(:edit)}
              %i.icon-edit
          %span
            %a{:href => admin_member_path(m), :data => {:method => :delete, :confirm => t(:sure)}, :title => t(:delete)}
              %i.icon-remove

= paginate @members
