.control-group.nested-fields
  .close.mr280
    = link_to_remove_association 'x', f, :class => 'btn btn-danger disabled'
  = f.input :company
  = f.input :started_at, :as => :date_picker
  = f.input :finished_at, :as => :date_picker
  = f.input :job
  = f.input :responsibility
  = f.input :achievements, :as => :text_desc
