!!! 5
%html(lang="en")
  %head
    = render 'layouts/shared/head'
  %body
    = render 'layouts/shared/navbar'

    .container
      .content
        = flash_block
        = render 'layouts/shared/splash'

        = yield
    = render 'layouts/shared/footer'
