!!! 5
%html(lang="en")
  %head
    = render 'layouts/shared/head'
    = javascript_include_tag 'http://w.sharethis.com/button/buttons.js', 'http://s.sharethis.com/loader.js'

  %body
    = render 'layouts/shared/navbar'

    .container
      .content
        = flash_block

        = yield
      = render 'layouts/shared/footer'

