!!! 5
%html(lang="en")
  %head
    = render 'layouts/shared/head'
    = javascript_include_tag "http://widgets.twimg.com/j/2/widget.js"
  %body
    = render 'layouts/shared/navbar'

    .container
      .content
        = flash_block

        = yield
    = render 'layouts/shared/footer'
